body {
  background: slategray;
}

main {
  margin: 12px;
}

header {
  background: #111;
  color: red;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

h1 {
  font-size: 46px;
}

h2 {
  color: blueviolet;
  font-size: 28px;
  font-style: bold;
  margin-bottom: 6px;
  margin-top: 6px;
}

h3 {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
}

ul {
  list-style-type: disc;
  margin-left: 8px;
}

ol {
  list-style-type: decimal;
  margin-left: 10px;
}

li {
  font-size: 16px;
  margin-bottom: 10px;
}

footer {
  background: #111;
  color: red;
  font-size: 46px;
  height: 70px;
  line-height: 70px;
  margin-top: 15px;
  text-align: center;
}